.customer-container {
  background-color: #f4f9f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 1em 1em 0em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customer-container > p {
  padding: .5em;
  margin: 0px;
}

.card-header {
  margin-top: 0px;
}

.customer-container > button {
  margin-top: 1em;
}
