.info {
  display: flex;
  margin-top: .75em;
  justify-content: center;
}

.movie-container {
  max-width: 350px;
  margin: 10px;
  background-color: #f4f9f2;
  padding: 10px;
}

.overview, .details, .info {
  padding-left: .5em;
  padding-right: .5em;
}

p {
  text-align: justify;
}
