.search-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  font-size: 1em;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}
