.info {
  display: flex;
  margin-top: .75em;
  justify-content: center;
}

.movie-container {
  max-width: 350px;
  margin: 10px;
  background-color: #f4f9f2;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview, .details, .info {
  padding-left: .5em;
  padding-right: .5em;
}

.overview p {
  text-align: justify;
}
